/*Estilos de la web - más a nuestro gusto*/

body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fdfdfd;
}

table {
    margin-left: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212121;
    border-left: 4px #646464 solid;
    padding-left: 8px;
}

a {
    text-decoration: none;
    /* margin-right: 4px; */
    color: #00a1ff;
}

a:hover {
    color: #4cc0fe;
}

a:active,
a:visited {
    color: #4d3eff;
}

button {
    font-size: 18px;
    padding: 7px 13px;
    background-color: #eaeaea;
    border: 2px #4cc0fe solid;
    color: #03afff;
}

button:hover {
    cursor: pointer;
    border: 2px #03afff solid;
    color: #1e90ff;
    background-color: #d9d9d9;
}

.fa-external-link {
    margin-left: 4px;
}

hr {
    margin-bottom: 40px;
    margin-top: 40px;
    border: 0;
    height: 1px;
    background: #7e7e7e;
}

.titulo {
    text-align: center;
    color: white;
    font-size: 70px;
    margin: 0;
    padding: 200px;
    background-color: #222222;
    /*En caso de que la imagen no se vea*/
    font-weight: bold;
    border: 0;
}

#tituloCSS {
    background-image: url("../img/css_fondo.PNG");
    background-size: cover;
}

#tituloHTML {
    background-image: url("../img/html_fondo.PNG");
    background-size: cover;
}

#tituloJS {
    background-image: url("../img/js_fondo.PNG");
    background-size: cover;
}

.textoMenu {
    font-weight: 700;
}

.titulo i {
    color: white;
}

#logoCSS {
    color: white;
}

.ejemplo {
    background-color: #e6e6e6;
    border: 2px #a4a4a4 solid;
    border-radius: 6px;
    display: inline-block;
    padding: 20px;
}

.contenidoBody {
    margin: 40px;
}

pre {
    font-family: "Inconsolata", monospace;
}

.ejemplo-Codigo {
    display: inline-block;
    background-color: #1b1b1b;
    color: white;
    border-radius: 20px;
    padding: 30px;
}

.tablaAtributos {
    border-collapse: collapse;
}

.tablaAtributos * {
    padding: 10px;
    border: 1px solid #525252;
}

.tablaAtributos th {
    background-color: #1591ff;
    color: white;
    text-align: left;
}

.tablaAtributos tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.tablaAtributos td:nth-child(odd) {
    font-style: italic;
}


/*Iframes*/

iframe[name="contenido"] {
    height: 1080px;
}

.iframesWeb {
    display: block;
    width: 100%;
    border: none;
}


/* Menu */

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    background: linear-gradient( 90deg, rgba(0, 167, 235, 1) 0%, rgba(0, 75, 158, 1) 100%);
}

.menuDerecha {
    float: right;
    transition: background-color 1s;
}

.menuIzquierda {
    float: left;
}

#tituloMenu {
    display: block;
    padding: 20px 30px;
    font-size: 30px;
    color: white;
}

#menu li a {
    padding: 20px 30px;
    display: block;
    font-size: 30px;
    color: white;
}

.menuDerecha:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: background-color 0.5s;
}

#menuIframe {
    height: 74px;
}


/* Indice */

#contenidoIndice {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    transition: visibility 1s;
}

#contenidoIndice a {
    display: block;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
}

#contenidoIndice a:first-of-type {
    margin-top: 10px;
}

#mostrarIndice {
    font-size: 27px;
    color: #212121;
    cursor: pointer;
}

#mostrarIndice i {
    color: #00a1ff;
}

#mostrarIndice:hover i {
    color: #66c7ff;
}

#hrIndice {
    margin-top: 5px;
}


/* Ir al top*/

#irAlTop {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 55px;
    padding-bottom: 15px;
    padding-right: 15px;
    color: #222222;
    opacity: 0.5;
    transition: opacity 1s;
}

#irAlTop:hover {
    opacity: 1;
}

#irAlTop:focus {
    color: #555555;
    transition: color 0.5s;
}


/*Estilos específicos de ejemplos*/


/*Parte de HTML*/

.ejemploLogoHTML {
    width: 200px;
}

.cursiva {
    font-style: italic;
}

#ejemploStyle {
    color: lime;
}

#horario {
    border: 2px solid #212121;
    border-collapse: collapse;
}

#horario caption {
    font-size: 30px;
}

#horario th {
    background-color: #212121;
    border-collapse: collapse;
    color: white;
    padding: 5px;
}

#horario td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.basesDeDatos {
    background-color: #ff4646;
}

.lenguajesDeMarcas {
    background-color: #a0ff86;
}

.programación {
    background-color: #fdff63;
}

.fol {
    background-color: #ff98ee;
}

.sisinf {
    background-color: #8abeff;
}

.ingles {
    background-color: #cacaca;
}

.entornos {
    background-color: #ffbe7a;
}

#ejercicioColoresTablasCollapse {
    border-collapse: collapse;
}

#ejercicioTablaAzul {
    border: 2px solid blue;
}

.ejercicioTablaVerde {
    border: 2px solid green;
}

#ejercicioTablaAmarillo {
    border: 2px solid yellow;
}

#ejemploDIV {
    border: 1px solid black;
}

#ejemploSpan {
    color: red;
    border: 1px solid green;
}


/*Fin parte HTML*/


/*Parte de css*/

#explicacionElementos {
    margin-top: 20px;
    width: 500px;
}

#ejemeploColorFondo {
    background-color: powderblue;
}

#ejemploFuente {
    font-family: verdana;
}

#divEjemploAlinearCentro {
    display: block;
}

#ejemploAlineacionCentro {
    text-align: center;
}

#ejemploColorRed {
    color: red;
}

#ejemploColorBlue {
    color: blue;
}

#ejemploColorOrange {
    color: orange;
}

#ejemploColorLightBlue {
    color: lightblue;
}

#ejemploRGBA_4 {
    background-color: rgba(255, 99, 71, 0.4);
}

#ejemploRGBA_6 {
    background-color: rgba(255, 99, 71, 0.6);
}

#ejemploRGBA_8 {
    background-color: rgba(255, 99, 71, 0.8);
}

#ejemploRGBA_1 {
    background-color: rgba(255, 99, 71, 1);
}

#ejemploColorVerde {
    color: green;
}

#ejemploColorFondo {
    background-color: #1e90ff;
    color: white;
}

#ejemploColorBorde {
    border: 2px solid lime;
}

#ejemploFuenteArial {
    font-family: "Times new roman";
}

#ejemplo20px {
    font-size: 20px;
}

#ejemplo30px {
    font-size: 30px;
}

#ejemplo40px {
    font-size: 40px;
}

#ejemploBorde {
    border: 3px red solid;
}

#ejemploPadding {
    border: 3px red solid;
    padding: 10px;
}

#ejemploMarginAzul {
    border: 5px blue solid;
    color: blue;
    margin-bottom: 50px;
}

#ejemploMarginVerde {
    border: 5px green solid;
    color: green;
}

#ejemploEnlaceCSS {
    text-decoration: none;
    color: lime;
}

#ejemploEnlaceCSS:hover {
    color: red;
    text-decoration: underline;
}

#ejemploEnlaceCSS:active {
    color: white;
    background-color: blue;
}

#ejemploEnlaceCSS:visited {
    color: orange;
}

#ejemploBotonEstado {
    background-color: #4ad3ff;
    border: 2px #4ad3ff solid;
    color: white;
    padding: 8px 13px;
    font-size: 20px;
}

#ejemploBotonEstado:hover {
    background-color: #8ee3ff;
    border: 2px black solid;
    color: black;
    cursor: pointer;
    padding: 8px 13px;
    font-size: 20px;
}

#ejemploCollapse {
    border: 1px black solid;
    border-collapse: collapse;
}

#ejemploCollapse th,
td {
    border: 1px black solid;
    border-collapse: collapse;
}

#ejemploSeparate {
    border: 1px black solid;
    border-collapse: separate;
}

#ejemploSeparate th,
td {
    border: 1px black solid;
    border-collapse: separate;
}

#ejemploTablaEven {
    border: 2px solid black;
    border-collapse: collapse;
}

#ejemploTablaEven td,
#ejemploTablaEven th {
    border: 2px solid black;
    border-collapse: collapse;
}

#ejemploTablaEven tr:nth-child(even) {
    background-color: lightblue;
}

#ejemploTablaEven tr:nth-child(odd) {
    background-color: lightgreen;
}

#ejemploGoogleFonts {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 25px;
}

#ejemploFontAwesomeSteam {
    font-size: 90px;
}

#ejemploFontAwesomeStar20 {
    font-size: 20px;
}

#ejemploFontAwesomeStar30 {
    font-size: 30px;
}

#ejemploFontAwesomeStar40 {
    font-size: 40px;
}

#ejemploStack {
    margin-top: 0;
    margin-bottom: 30px;
}

#ejemploStackFrasco {
    color: white;
}

#ejemploListaSimbolosCuadrado {
    list-style-type: square;
}

#ejemploListaNumerosRomanos {
    list-style-type: upper-roman;
}

#ejemploFloatRight img {
    float: right;
    width: 100px;
}


/*Fin Parte de css*/


/* Pie de Página */

iframe[name="footer"] {
    height: 169px;
    margin: 0;
    padding: 0;
}

#pieDePagina {
    text-align: center;
    /*background-color: #222222;*/
    color: white;
    padding-top: 10px;
    padding-bottom: 25px;
    background: linear-gradient( 180deg, rgba(0, 167, 235, 1) 0%, rgba(0, 75, 158, 1) 100%);
}

#pieDePagina a {
    color: white;
    text-decoration: underline;
}


/* Mod Boton */

#modBoton {
    border: 10px solid black;
    color: black;
    font-size: 20px;
    position: absolute;
}

#modBotonDiv {
    width: 400px;
    height: 300px;
}

#modPropiedades {
    margin-left: 20px;
}

#modCambios {
    position: absolute;
}

#modCambios {
    margin-left: 50px;
    background-color: #1b1b1b;
    color: white;
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

#modJS {
    padding: 20px;
    height: 300px;
}

#modJS div {
    display: inline-block;
    height: 300px;
}

#modSalida {
    background-color: #1b1b1b;
    color: white;
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    position: absolute;
    margin-left: 40px;
    height: auto;
}

#modJSIframe {
    width: 100%;
    height: 370px;
}

#controlesHSL {
    padding: 10px;
    background-color: #222222;
    width: 60%;
    text-align: center;
}

#barraHSL {
    width: 70%;
}

.divCentrado {
    text-align: center;
}


/* ejercicios PE*/

.tituloEjercicios {
    text-align: center;
    border: none;
    font-size: 47px;
    text-transform: uppercase;
}

.contenidoEjemplos {
    text-align: center;
}

.vistaEjercicio:nth-child(odd) {
    margin-right: 40px;
}

.vistaEjercicio {
    background-position: center;
    background-repeat: no-repeat;
    border: 4px lightgray solid;
    height: 420px;
    width: 840px;
    display: inline-block;
    background-size: 840px 420px;
    transition: background-size 0.5s ease, filter 0.7s ease;
    filter: brightness(50%);
    margin-bottom: 40px;
}

.vistaEjercicio:hover {
    background-size: 900px 480px;
    filter: brightness(100%);
}

#veSoftwareLibre {
    background-image: url("../img/pvCodigoAbierto.png");
}

#veMurphy {
    background-image: url("../img/pvMurphy.png");
}

#veTablaPedro {
    background-image: url("../img/pvTablaPedro.png");
}

#veWord {
    background-image: url("../img/pvWord.png");
}

#veStarWars {
    background-image: url("../img/pvStarWars.png");
}

#veInstagram {
    background-image: url("../img/pvInsta.png");
}

#veFormulario {
    background-image: url("../img/pvFormulario.png");
}

#vePrimerExamen {
    background-image: url("../img/pvPrimerExamen.png");
}

#veYT {
    background-image: url("../img/pvYT.png");
}

#veMinecraft {
    background-image: url("../img/pvMinecraft.png");
}




/* FIN ejercicios PE*/